@model Erweiterungsfaktor.Models.Netz 

@{
    ViewBag.Title = "Netz löschen";
}

<h2>Netz</h2>
<h4>Löschen</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.NetzId)
        @Html.HiddenFor(model => model.BNR)
        <div class="form-group">
            @Html.LabelFor(model => model.NetzNr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.NetzNr, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.NetzName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.NetzName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Netzbetreiber.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Netzbetreiber.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Netzbetreiber.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <h4>Netz wirklich löschen</h4>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Löschen" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<hr />
<div>
    @Html.ActionLink("Zurück", "Details", new { Id = Model.BNR })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
